---
const year = new Date().getFullYear();
---

<footer class="site-foot">
  <span>&copy; {year} Sambulo Senda</span>
  <span class="foot-meta">
    London ·
    <a href="mailto:sambulosendas@gmail.com">email</a> ·
    <a href="https://twitter.com/sambulosenda">twitter</a> ·
    <a href="https://github.com/sambulosenda">github</a>
  </span>
</footer>
